* {
    margin: 0;
    padding: 0;
    border-style: none;
}

body {
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    height: 100vh;
}

#toast {
visibility: hidden;
min-width: 200px;
background-color: #333;
color: #fff;
text-align: center;
border-radius: 8px;
padding: 10px;
position: fixed;
bottom: 80px; /* 버튼보다 위로 */
left: 50%;
transform: translateX(-50%);
font-size: 14px;
opacity: 0;
transition: opacity 0.5s, visibility 0.5s;
z-index: 9999; /* 최상위 요소로 설정 */
}

.logo_image {
    width: 124px;
    height: 52px;
}

.contentDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.boxDiv {
    display: flex;
    width: 345px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.fullDiv {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.pageTitleDiv {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.pageTitleTop {
    color: #343434;
    font-family: "Apple SD Gothic Neo";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.48px;
}

.pageTitlebottom {
    color: #343434;
    font-family: "Apple SD Gothic Neo";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
}

.boxTitle {
    align-self: stretch;
    color: #343434;
    font-family: "Apple SD Gothic Neo";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bottomGuide {
    align-self: stretch;
    color: #343434;
    text-align: center;
    font-family: "Apple SD Gothic Neo";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
}

.boxContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.boxDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.templatePreview {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #D4D4D4;
}

.templateDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.templateText {
    color: #4C4C4C;
    font-family: "Apple SD Gothic Neo";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 21.6px */
    letter-spacing: -0.36px;
}

.copyButton {
    width: 100%;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: #428DFF;
    color: #FFF;
    font-family: "Apple SD Gothic Neo";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
}

.copyButton:hover {
    background: #3571CC;
    cursor: pointer;
}